<div class="w-100-p h-100-p" fxLayout="row">
    <div class="" fxFlex="100%" fxFlex.gt-sm="80%">
        <div class="pb-32">
            <mat-toolbar class="px-5 mat-elevation-z1 bg-white">
                <span>E-FUND</span>
            </mat-toolbar>
        </div>
        <!-- Start of filter form -->
        <div class="container-wrapper container-wrapper-lg flex-column">
            <div class="w-100-p bread-crumbs d-flex align-items-center pb-24">
                <div class="pr-3">
                    <mat-icon class="btn-icon text-muted">business</mat-icon>
                </div>
                <div class="mt-n2">
                    <a routerLink="/select-organization/list"
                    class="font-size-16">My Organizations</a>
                </div>
                <div>
                    <mat-icon class="btn-icon text-muted">keyboard_arrow_right</mat-icon>
                </div>
                <div  class="mt-n2">
                    <span class="text-muted font-size-16">
                        Search Organization
                    </span>
                </div>
            </div>
            <div class="bg-white mat-elevation-z1" fxFlex="100%" 
            fxFlex.gt-md="75%">
                <div class="side-content bg-white" fxLayout="column">
                    <div class="w-100-p px-28 pt-20 mb-3">
                        <span class="text-muted">
                            Search organizations by name and type.
                        </span>
                    </div>
                    <form [formGroup]="orgForm" (ngSubmit)="submitSearch(orgForm)">
                        <div class="pt-0 px-0 pt-8 pb-12">
                            <div class="d-flex pl-3">
                                <div class="d-flex flex-fill">
                                    <div class="input-wrapper col-lg-6">
                                        <mat-form-field appearance="outline" color="primary"
                                        class="w-100-p pb-0 mb-0">
                                            <mat-label>Organization Name*</mat-label>
                                            <input matInput placeholder="Enter the name of the organization" 
                                            [ngClass]="{ 'is-invalid': f.name.invalid && (f.name.touched || f.name.dirty) }"
                                            class="" formControlName="name" />
                                        </mat-form-field>
                                        <div *ngIf="f.name.invalid && (f.name.touched || f.name.dirty)" 
                                        class="invalid-feedback">
                                            <div *ngIf="f.name.errors.required">Organization name is required</div>
                                        </div>
                                    </div>
                                    <div class="input-wrapper col-lg-6">
                                        <mat-form-field appearance="outline" color="primary"
                                        [floatLabel]="f.organizationType.value ? 'always' : ''"
                                        class="w-100-p mb-0">
                                            <mat-label>Organization Type</mat-label>
                                            <ng-select [items]="organizationTypes"
                                                matInput ngSelectMat
                                                class="flex-fill px-0" appendTo="body"
                                                bindLabel="org_type_code"
                                                bindValue="id"
                                                loadingText="Loading organization types"
                                                [hideSelected]="true"
                                                [searchable]="false"
                                                formControlName="organizationType"
                                                [multiple]="false"
                                                notFoundText="No result matched your search"
                                                [closeOnSelect]="true">
                                                <ng-template ng-label-temp let-item="item">
                                                    {{ item?.org_type_code }}
                                                </ng-template>
                                                <ng-template ng-option-tmp let-item="item"
                                                let-index="index">
                                                    {{item?.org_type_code }}
                                                </ng-template>
                                            </ng-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="input-wrapper pt-8 pl-16 pr-24">
                                    <button mat-stroked-button color="accent"
                                    class="pl-3 py-1 mt-n1" type="submit">
                                        <mat-icon class="btn-icon ">
                                            search
                                        </mat-icon>
                                        &nbsp;Search
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <!-- Start of grid -->
            <div class="w-100-p d-flex pt-20 container-wrapper 
            container-wrapper-lg px-0 mb-24">
                <div class="w-100-p px-0 bg-white border-radius-2
                mat-elevation-z1">
                    <div class="w-100-p py-12 pl-24 font-size-16 text-muted">
                        Search Results
                    </div>
                    <table class="table">
                        <thead class="thead-light">
                            <tr>
                                <th class="pl-24">Name</th>
                                <th>Organization Type</th>
                                <th [style.width.px]="1"></th>
                            </tr>
                        </thead>
                        <tbody *ngIf="!loading">
                            <tr *ngFor="let org of list">
                                <td class="pl-24 align-middle" valign="middle">{{ org?.name }}</td>
                                <td class="align-middle">
                                    <span class="badge border-radius-8 
                                    py-2 px-8 badge-warning">
                                        {{ org?.org_type_code | removeUnderscore }}
                                    </span>
                                </td>
                                <td [style.width.px]="1" class="pr-20">
                                    <button mat-stroked-button color="accent"
                                    [disabled]="org?.request"
                                    (click)="selectOrganization(org)"
                                    >{{ org?.request? 'Already Requested' : 'Request To Join' }} </button>
                                </td>
                            </tr>
                            <tr *ngIf="!list.length">
                                <td colspan="3">
                                    <div>
                                        <div class="alert alert-primary mb-0 pb-2 pt-3">
                                            <div class="d-flex align-items-center">
                                                <div class="pr-20">
                                                    <mat-icon>
                                                        info_circle
                                                    </mat-icon>
                                                </div>
                                                <div class="flex-fill">
                                                    There are no matches for <b>{{ f.name.value }}</b>. 
                                                    Kindly try another name and try searching again.
                                                </div>
                                                <div class="pr-8">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tbody *ngIf="loading">
                            <tr *ngIf="loading">
                                <td colspan="3">
                                    <div class="w-100-p d-flex justify-content-center py-20">
                                        <mat-spinner diameter="42"></mat-spinner>
                                    </div>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
            <!-- End of grid -->
        </div>
        <!-- End of filter form -->
    </div>
    <div fxFlex="20%"  fxFlex.gt-md="20%" fxHide.lt-md
    class="h-100-p mat-elevation-z1 bg-white">
        <div class="title border-bottom py-20 px-20">
            <div class="font-size-16 text-muted">Why search organizations?</div>
        </div>
    </div>
</div>