<div>
    <page-header title="Map Report"></page-header>
    <div class="w-100-p d-flex px-5">
        <div class="w-100-p p-0 raised mb-5">
            <div matCardHeader class="card-header bg-white">
                <div class="font-weight-600 font-size-16 pt-8 pl-3 pb-12">
                    Report Subtitle
                </div>
            </div>
            <mat-card-content class="p-0">
                <!-- Map content -->
                <!-- START Uncomment iframe code here -->

                <!-- END of Iframe code -->
                <object data="https://kenyapopulationfm.netlify.app/" class="w-100-p vh-100">
                    <embed src="https://kenyapopulationfm.netlify.app/" class="w-100-p vh-100" />
                </object>
                <!-- End of map content -->
            </mat-card-content>
        </div>
    </div>
</div>