:host ::ng-deep {
    color: #FFFFFF;
    .cont {
        background-color: #146b3a !important;
        width: auto!important;
        transition: all .5s cubic-bezier(0,0,.2,1)!important;
        left: 13rem;
        right: 0;
        padding: 4.5rem 4.5rem 10rem;
        margin-bottom: -6rem;
        &.less-margin{
            margin-bottom: -5.25rem;
        }
        .title{
            font-size: 2.35rem;
        }
    }
}