<div class="w-100-p h-100-p" fxLayout="row">
    <div class="" fxFlex="100%"  fxFlex.gt-sm="100%">
        <div class="pb-32">
            <mat-toolbar class="px-5 mat-elevation-z1 bg-white">
                <div fxFlex fxFill fxLayout="row" fxLayoutAlign="start center">
                    <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
                        <div class="px-10 px-md-24 title font-size-24">
                            <span>E-FUND</span>
                        </div>
                    </div>
                    <div class="" fxFlex="0 1 auto" fxLayout="row" fxLayoutAlign="start center">
                        <button mat-button [matMenuTriggerFor]="userMenu"
                        class="user-button">
                            <div fxLayout="row" fxLayoutAlign="center center"
                            class="align-items-center">
                                <div class="pr-24 pt-2">
                                    <mat-icon class="font-size-32">account_circle</mat-icon>
                                </div>
                                <div>
                                    <span class="username mr-12" fxHide fxShow.gt-sm>
                                        {{ user?.first_name }} {{ user?.last_name }}
                                    </span>
                                </div>
                                <div class="pt-2">
                                    <mat-icon class="s-16 font-size-26" fxHide.xs>keyboard_arrow_down</mat-icon>
                                </div>
                            </div>
                        </button>
                        <mat-menu #userMenu="matMenu">
                            <button mat-menu-item class="pr-24"
                            (click)="logoutUser()">
                                <mat-icon>exit_to_app</mat-icon>
                                <span>Logout</span>
                            </button>
                        </mat-menu>
                    </div>
                </div>
            </mat-toolbar>
        </div>
        <div class="px-40 pb-24">
            <div class="container-wrapper flex-column">
                <!-- Title area -->
                <div class="w-100-p pb-3 pt-20 pl-2 d-flex">
                    <div class="flex-fill">
                        <h4 class="text-left font-size-20">Select an Organization</h4>
                        <p class="text-left text-muted">Kindly select an organization before proceeding.</p>
                    </div>
                    <div>
                        <button mat-stroked-button color="accent"
                        class="pl-3" (click)="openDialog()">
                            <mat-icon class="btn-icon ">
                                person_add
                            </mat-icon>
                            &nbsp;Join Another Organization
                        </button>
                    </div>
                </div>
                <!-- End of title area -->
                <div class="main-content mb-32" fxFlex="100%"  fxFlex.gt-md="75%">
                    <div class="side-content bg-white"  fxLayout="column">
                        <div class="pt-0 px-0"
                        *ngIf="user.organizations.length">
                            <mat-action-list>
                                <mat-list-item 
                                *ngIf="user.organizations.length && user.organizations.length > 10"
                                class="px-0 pl-28 pr-28 pt-12 mb-12 mt-2">
                                    <!-- Start of search box -->
                                    <mat-form-field  color="primary"
                                    class="w-100-p pb-0 mb-3">
                                        <span matPrefix><mat-icon class="font-size-10"
                                            style="font-size:1.8rem !important;">search</mat-icon> &nbsp;</span>
                                        <input matInput type="search" autocomplete="off"
                                        placeholder="Search for organizations you have been assigned to..." 
                                        [(ngModel)]="searchText" autocomplete="off" />
                                    </mat-form-field>
                                    <!-- End of search box -->
                                </mat-list-item>
                                <mat-list-item *ngFor="let org of user.organizations | filter:searchText | slice:0:limitTo"
                                class="px-0 mr-n5 pl-5 border-bottom pt-2 pb-3"
                                (click)="selectOrganization(org)">
                                    <mat-icon matListIcon class="font-size-32 ml-3 
                                    text-muted list-icon">business</mat-icon>
                                    <h3 matLine class="font-size-20 pb-4 pl-3"> {{org.organization_name || name}} </h3>
                                    <p matLine class="pl-3 pb-16">
                                        <span class="badge badge-warning"> {{org?.org_type | removeUnderscore }} </span>
                                    </p>
                                    <mat-icon matListAction class="font-size-32 text-muted list-icon">
                                        keyboard_arrow_right
                                    </mat-icon>
                                </mat-list-item>
                                <mat-list-item class="h-10-p"
                                *ngIf="user.organizations.length && user.organizations.length > 10">
                                    <div class="w-100-p d-flex justify-content-center
                                    py-3">
                                        <button class="margin-auto w-25-p my-3"
                                        mat-stroked-button color="accent"
                                        [disabled]="user.organizations.length === limitTo"
                                        (click)="loadMore()">
                                            LOAD MORE
                                        </button>
                                    </div>
                                </mat-list-item>
                            </mat-action-list>
                        </div>
                    </div>
                </div>
                <!-- Title area -->
                <div class="w-100-p pb-3 pt-40 pl-16" fxFlex="100%" fxLayout="row" [hidden]="true">
                    <div class="flex-fill">
                        <h4 class="text-left font-size-20">Pending Join Requests</h4>
                        <p class="text-left text-muted">Kindly select an organization before proceeding.</p>
                    </div>
                    <div>
                        <button mat-stroked-button color="accent"
                        class="pl-3">
                            <mat-icon class="btn-icon font-size-16">
                                person_add
                            </mat-icon>
                            &nbsp;Request to Join
                        </button>
                    </div>
                </div>
                <!-- End of title area -->
                <div class="main-content" fxFlex="100%"  fxFlex.gt-md="75%" [hidden]="true">
                    <div class="side-content bg-white"  fxLayout="column">
                        <div class="pt-0 px-0">
                            <mat-action-list class="">
                                <mat-list-item *ngFor="let org of organizations"
                                class="px-0 mr-n5 pl-5 border-bottom pt-2 pb-3">
                                <mat-icon matListIcon class="text-muted">person_add</mat-icon>
                                <div class="flex-fill pt-20 pl-20">
                                    <h4 matLine class="pb-0 pl-8">{{org.name}}</h4>
                                    <p matLine class="demo-2 pl-8 pb-16"> 
                                        <span class="badge badge-warning"> PENDING </span>
                                    </p>
                                </div>
                                <div class="font-size-14 text-muted mt-n5 pr-2">
                                    Jan 1, 2020
                                </div>
                                </mat-list-item>
                            </mat-action-list>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <div fxFlex="0%"  fxFlex.gt-md="0%" fxHide.lt-md
    class="h-100-p mat-elevation-z1 bg-white " [hidden]="true">
        <div class="title border-bottom py-20 px-20">
            <div class="font-size-16 text-muted">What is an organization?</div>
        </div>
    </div>

</div>