<div class="w-100-p h-100-p" fxLayout="row">
    <div class="" fxFlex="100%" fxFlex.gt-sm="80%">
        <div class="pb-0">
            <mat-toolbar class="px-5 mat-elevation-z1 bg-white">
                <span>E-FUND</span>
            </mat-toolbar>
        </div>
        <!-- Start of filter form -->
        <div class="container-wrapper container-wrapper-xl flex-column pt-0">
            <!-- Start of stepper -->
            <stepper-wrapper></stepper-wrapper>
            <!-- End of stepper -->
        </div>
    </div>
    <div fxFlex="20%"  fxFlex.gt-md="20%" fxHide.lt-md
    class="h-100-p mat-elevation-z1 bg-white">
        <div class="title border-bottom py-20 px-20">
            <div class="font-size-16 text-muted">What information do I need?</div>
        </div>
    </div>
</div>