<div class="w-100-p">
    <div class="login-wrapper">
        <div class="login-main-content" fxLayout="row">

            <div class="login-content with-img order-2 justify-content-center align-items-center" 
            fxLayout="row" fxFlex="50%" 
            fxFlex.gt-md="50%" fxHide.lt-md>
                <div class="d-flex margin-auto w-100-p justify-content-center">
                    <img src="../../../../assets/images/logos/logo.png" alt=""
                    style="z-index: 10" class="w-50-p">
                </div>
            </div>
            
            <div class="login-content order-10"  fxLayout="column" fxFlex="100%" fxFlex.gt-sm="50%">
                <div class="w-100-p">
                    <h4 class="text-left font-size-20 pl-2">SIGN UP</h4>
                </div>
                <div class="pt-20 px-2">
                    <dynamic-form btnTxt="CREATE ACCOUNT"
                    config="setPassword" [submitted]="submitted"
                    store="registration" btnStatus="primary"
                    (submitModel)="receiveModel($event)"></dynamic-form>
                </div>
                <div class="w-100-p text-center pb-20 pt-20"
                style="margin-top: -1.5rem;">
                    <a routerLink="/auth/signin">
                        I am already a member
                    </a>
                </div>
            </div>

            
            
        </div>
    </div>
</div>