<div class="w-100-p">
    <div>
        <page-header title="Customer Relations Management"
        [menuActions]="menuActions"></page-header>
    </div>
    <!-- Start of content -->
    <div class="w-100-p mt-n3 px-5">
        <div class="px-5">
            <div class="px-12 pt-2">
                <mat-card class="p-0">
                    <div mat-card-header class="card-header px-0 pb-0">
                        <nav mat-tab-nav-bar>
                            <a mat-tab-link *ngFor="let link of links"
                               [routerLink]='link?.link' #rla="routerLinkActive"
                               [routerLinkActiveOptions]="{exact:true}"
                               [active]="rla.isActive" class="tab-link"
                               routerLinkActive="active"> {{link.label}} </a>
                        </nav>
                    </div>
                    <mat-card-content class="pt-0">
                        <router-outlet></router-outlet>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>