<div class="px-16 pt-8 pb-20">
    <div mat-dialog-title class="pb-3 d-flex">
        <div class="title-text flex-fill">{{data?.configs.title || 'SUBMIT' }}</div>
        <div>
            <!-- <mat-icon class="hover-pointer"
            (click)="closeDialog">close</mat-icon> -->
        </div>
    </div>
    <div mat-dialog-content class="">
        <div>{{data?.configs.description}}</div>
        <div *ngIf="data?.configs.approveNested"
        class="pt-4">
            <div class="list-section mb-n1 pt-16">
                <mat-checkbox class=""
                [checked]="allApproved"
                [indeterminate]="someApproved()"
                (change)="setAllApproved($event.checked)">
                    <span class="text-muted">Select to approve all activities</span>
                </mat-checkbox>
            </div>
            <div class="border-bottom mt-2"></div>
            <div class="list-section mt-0">
                <ul class="list-unstyled">
                    <li *ngFor="let activity of activities">
                        <div class="d-flex align-items-center">
                            <div>
                                <mat-checkbox
                                [(ngModel)]="activity.approved"
                                (ngModelChange)="updateAllApproved()">
                                    <div class="pl-8 pt-2">
                                        <div class="mb-n1">
                                            {{ activity?.title }}
                                        </div>
                                        <div class="d-flex">
                                            <div class="font-size-14">
                                                <span class="text-muted">Amount:</span>
                                                {{ activity?.estimated_amount | currency: 'Kshs '}}
                                            </div>
                                            <div class="pl-3 font-size-14 d-flex">
                                                <div><mat-icon class="font-size-14">calendar_today</mat-icon></div>
                                                <div class="ml-n2">{{ activity?.activity_date | date: 'dd-MM-yyyy' }}</div>
                                            </div>
                                        </div>  
                                    </div>
                                </mat-checkbox>
                            </div>
                            <div>

                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Start of review attachment -->
        <div class="" *ngIf="data?.configs.reviewAttachment">
            <div class="attachemnt-wrapper mb-1 pt-3">
                <input type="file" [hidden]="true" class="ng-hide"
                id="input-attachment" (change)="fileChange($event)">
                <label for="input-attachment" class="mat-button w-100-p
                d-flex pl-16 mat-elevation-z1 pt-2">
                    <div class="mt-2 pr-2"><mat-icon class="">
                        {{fileName ? 'attachment' : 'cloud_upload' }}
                    </mat-icon></div>
                    <div class="pl-2"> 
                        {{ fileName || 'Upload Approval Attachments' }} 
                    </div>
                </label>
            </div>
        </div>
        <!-- End of review attachments -->
    </div>
    <div mat-dialog-actions class="pt-5 pb-4 d-flex justify-content-end"
    *ngIf="!data?.configs.comment && !data?.configs.revisedAmount">
        <button mat-button mat-dialog-close 
        (click)="closeDialog()">CLOSE</button>
        <button mat-button [class.spinner]="loading" 
        [disabled]="loading" 
        (click)="dialogActions[data.configs.action]()">
            {{data?.action || 'SUBMIT' }}
        </button>
    </div>
    <div mat-dialog-actions class="w-100-p pt-16 pb-4"
    *ngIf="data?.configs.comment">
        <form [formGroup]="commentForm" name="fmr" 
        (ngSubmit)="submitComment(commentForm)" class="w-100-p">
            <div class="w-100-p pt-1">
                <div class="input-wrapper w-100-p">
                    <mat-form-field appearance="outline" color="primary"
                    class="w-100-p pb-0 mb-0">
                        <mat-label>Enter a comment</mat-label>
                        <textarea name="comment" matInput
                        id="" cols="30" rows="6" 
                        placeholder="Kindly enter a comment..."
                        formControlName="comment"></textarea>
                    </mat-form-field>
                </div>
                <div *ngIf="f.comment.invalid && 
                (f.comment.touched || f.comment.dirty)"  
                class="invalid-feedback">
                    <div *ngIf="f.comment.errors.required">
                        Comment is required
                    </div>
                </div>
            </div>
            <div class="btn-container d-flex justify-content-end">
                <button mat-button mat-dialog-close
                type="button"
                (click)="closeDialog()">CLOSE</button>
                <button mat-button type="submit"
                [class.spinner]="loading" [disabled]="loading">SUBMIT</button>
            </div>
        </form>
    </div>
    <div mat-dialog-actions class="w-100-p pt-16 pb-4"
    *ngIf="data?.configs.revisedAmount">
        <form [formGroup]="revisedAmountForm" name="fmr" 
        (ngSubmit)="submitRevisedAmount(revisedAmountForm)" class="w-100-p">
            <div class="w-100-p pt-1">
                <div class="input-wrapper w-100-p">
                    <mat-form-field appearance="outline" color="primary"
                    class="w-100-p pb-0 mb-0">
                        <mat-label>Approved Amount</mat-label>
                        <input name="revised_amount" matInput
                        placeholder="Kindly enter a approved amount..."
                        formControlName="revised_amount" />
                    </mat-form-field>
                    <div class="mt-n4 text-muted">{{ rA.revised_amount.value | currency: 'Kshs ' }}</div>
                </div>
                <div *ngIf="rA.revised_amount.invalid && 
                (rA.revised_amount.touched || rA.revised_amount.dirty)"  
                class="invalid-feedback">
                    <div *ngIf="rA.revised_amount.errors.required">
                        Approved amount is required
                    </div>
                </div>
            </div>
            <div class="btn-container d-flex justify-content-end">
                <button mat-button mat-dialog-close
                type="button"
                (click)="closeDialog()">CLOSE</button>
                <button mat-button type="submit"
                [class.spinner]="loading" [disabled]="loading">SUBMIT</button>
            </div>
        </form>
    </div>
</div>