<div class="font-size-14" mat-dialog-title>
    <div class="d-flex align-items-center mb-n3">
        <div class="flex-fill">Activities</div>
        <div>
            <form class="search-form">
                <mat-form-field class="full-width">
                    <mat-label>Search</mat-label>
                    <input type="search" matInput
                    placeholder="Search activity...">
                    <mat-icon matSuffix class="font-size-14">search</mat-icon>
                </mat-form-field>
            </form>
        </div>
    </div>
</div>
<mat-dialog-content class="mat-typography">
    <!-- Start of listing -->
    <div>
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th *ngFor="let th of tableConfigs">
                        {{th?.label }}
                    </th>
                    <!-- <th>
                        Applied
                    </th> -->
                    <th style="width:1px"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of list">
                    <td *ngFor="let td of tableConfigs" 
                    class="pb-1 align-middle">
                        <div *ngFor="let field of td.fields"
                        class="pb-1">
                            <div *ngIf="field.type === 'string'">
                                {{ item[field.key] }}
                            </div>
                            <div *ngIf="field.type === 'currency'">
                                {{ item[field.key] | currency: 'Kshs '}}
                            </div>
                            <div *ngIf="field.type === 'date'">
                                {{ item[field.key] | date: 'dd-MM-yyyy'}}
                            </div>
                            <!-- Start of nested -->
                            <div class="d-flex" *ngIf="field.type === 'nested'">
                                <div *ngIf="field.label" class="text-muted">
                                  {{ field.label }}:&nbsp;
                                </div>
                                <div>
                                  {{ getNested(item, field.key) }}
                                </div>
                            </div>
                            <!-- Start of status -->
                            <div *ngIf="field.type === 'status'">
                                <span class="badge {{ item[field.key] | lowercase }} py-1 py-2">
                                {{ item[field.key] | uppercase | removeUnderscore }}
                                </span>
                            </div>
                        </div>
                    </td>
                    <!-- TODO: Bring back when validation done correctly -->
                    <!-- <td class="align-middle">
                        {{ setAppliedAmount(item) | currency: 'Kshs ' }}
                    </td> -->
                    <td style="width:1px">
                        <!-- [disabled]="getACtivityStatus(item)" -->
                        <button mat-raised-button color="defualt"
                        (click)="selectActivity(item)">SELECT</button>
                    </td>
                </tr>
                <tr *ngIf="loading">
                    <td [attr.colspan]="tableConfigs.length + 1">
                        <div class="d-flex justify-content-center py-16">
                            <mat-spinner diameter="40"></mat-spinner>
                        </div>
                    </td>
                </tr>
                <tr *ngIf="!loading && !list.length">
                    <td [attr.colspan]="tableConfigs.length + 1">
                        <div class="d-flex flex-column justify-content-center py-16">
                            <div class="text-center">
                                <mat-icon class="font-size-100 w-100-p">folder_open</mat-icon>
                            </div>
                            <div class="pt-16 text-center font-size-18 pb-3">
                                There are no approved activities.
                            </div>
                            <div class="pt-8 text-center font-size-14 text-muted">
                                Once you have an approved budget with 
                                approved activities, the activities will <br />
                                appear here and you can use them to 
                                make an application.
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end" class="pb-20 border-top pt-8">
    <button mat-button mat-dialog-close cdkFocusInitial>CLOSE</button>
</mat-dialog-actions>