<div class="card">
    <div class="card-header pt-3 bg-white">
        <div class="pl-3 text-muted font-weight-bold pb-2 d-flex
        align-items-center">
            <div class="pt-2 pr-2">
                <mat-icon>account_balance</mat-icon>
            </div>
            <div>Bank Account</div>
        </div>
    </div>
    <div class="card-body px-0 pb-3 pt-0">
        <div>
            <table class="table borderless">
                <thead class="thead-light">
                    <tr>
                        <th *ngFor="let header of gridConf"
                        class="pl-24">
                            {{ header.name }}
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let anItem of list;let i = index;">
                        <td *ngFor="let data of gridConf"
                        [hidden]="showForm"
                        [class.pl-24]="i === 0">
                            {{ anItem[data.key] }}
                            <mat-icon *ngIf="!anItem[data.key]">
                                remove
                            </mat-icon>
                        </td>
                        <td [hidden]="showForm">
                            <button mat-stroked-button
                            (click)="toggleForm(anItem)"
                            color="accent">Edit</button>
                        </td>
                        <td [attr.colspan]="gridConf.length + 1"
                        class="bg-light-grey py-3 px-5" *ngIf="showForm">
                            <div class="col-12 col-lg-8"
                            style="margin: auto;">
                                <mat-card class="card p-0">
                                    <div class="card-header py-0">
                                        <div class="d-flex">
                                            <div class="flex-fill pt-3">
                                                EDIT BANK DETAILS
                                            </div>
                                            <div>
                                                <span style="cursor: pointer;"
                                                class="font-size-28 text-muted"
                                                (click)="toggleForm(anItem)">
                                                    &times;
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body px-5 pt-5">
                                        <!-- TODO: Implement inline form -->
                                        <dynamic-form btnText="SAVE"
                                        btnClass="tiny" [model]="anItem"
                                        [submitted]="submitted" [baseCancel]="true"
                                        store="organization-bank-accounts" btnStatus="primary"
                                        (cancelFxn)="toggleForm(anItem)"
                                        (submitModel)="receiveModel($event)">
                                        </dynamic-form>
                                    </div>
                                </mat-card>
                            </div>
                        </td>
                    </tr>
                    <tr *ngIf="list?.length === 0 && !loading">
                        <td  [attr.colspan]="gridConf.length + 1"
                        class="bg-light-grey py-3 px-5">
                            <div class="col-12 col-lg-8"
                            style="margin: auto;">
                                <mat-card class="card p-0">
                                    <div class="card-header pt-2 pb-16">
                                        <div class="d-flex">
                                            <div class="flex-fill pt-3">
                                                ADD BANK DETAILS
                                            </div>
                                            <div>
                                                <!-- <span style="cursor: pointer;"
                                                class="font-size-28 text-muted"
                                                (click)="toggleForm(anItem)">
                                                    &times;
                                                </span> -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body px-5 pt-5">
                                        <!-- TODO: Implement inline form -->
                                        <dynamic-form btnText="SAVE"
                                        btnClass="tiny"
                                        [submitted]="submitted" 
                                        store="organization-bank-accounts" 
                                        btnStatus="primary"
                                        (submitModel)="receiveModel($event)">
                                        </dynamic-form>
                                    </div>
                                </mat-card>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="btn-cont px-20 pb-12 pt-3 border-top">
    <div class="btn-cont mb-3 pt-12 w-100-p
    d-flex justify-content-between">
        <button mat-raised-button
        class="float-left"
        (click)="changeStep('prev')">
        <mat-icon class="btn-icon">keyboard_arrow_left</mat-icon>
        <mat-icon class="btn-icon">keyboard_arrow_left</mat-icon>
            &nbsp;&nbsp;BACK
        </button>
        <button mat-raised-button
        *ngIf="!isLast"
        class="mt-10 float-right mr-0"
        color="accent" 
        (click)="changeStep('next')">
            NEXT&nbsp;
            <mat-icon class="btn-icon">keyboard_arrow_right</mat-icon>
            <mat-icon class="btn-icon">keyboard_arrow_right</mat-icon>
        </button>
        <button mat-raised-button
        *ngIf="isLast" color="success"
        class="mt-10 float-right mr-0"
        (click)="changeStep('next')">
            COMPLETE
        </button>
    </div>
</div>