<div class="w-100-p">
    <div class="cont d-flex flex-column">
        <div class="flex-fill w-100-p pb-1">
            <span class="title pl-5">Welcome back, {{ user?.first_name }}</span>
        </div>
        <div class="w-100-p px-32 pt-20">
            <div class="d-inline-flex org-cont 
            py-3 px-24 border-radius-top-4">
                Logged Into, &nbsp; <mat-icon class="font-size-16 w-20 h-20 pt-1">business</mat-icon>
                &nbsp;<b>{{ organization }}</b>&nbsp;
            </div>
        </div>
    </div>

    <!-- Start of bar graph -->
    <div class="w-100-p pl-40 pr-56 pt-20 mb-32">
        <div class="d-flex mx-n3">
            <div class="col-lg-8 col-12">
                <div class="card border-0 mat-elevation-z1 h-100-p">
                    <div class="card-header bg-white text-muted py-16
                    font-size-16 pl-20">
                        Balance Summary
                    </div>
                    <div class="card-body">
                                     
                    </div>
                </div>
            </div>
            <!-- Start of applications piechart -->
            <div class="col-lg-4 col-12">
                <div class="card border-0 mat-elevation-z1 h-100-p">
                    <div class="card-header bg-white text-muted py-16">
                        Summary
                    </div>
                    <div class="card-body">
                        
                    </div>
                </div>
            </div>
            <!-- End of applications summary -->
        </div>
    </div>
    <!-- End of bar graph -->

    <!-- Start of recent listings -->
    <div class="w-100-p pl-40 pr-56 pt-20 pb-100">
        <div class="d-flex mx-n3">
            <div class="col-lg-6 col-12">
                <div class="card border-0 mat-elevation-z1 h-100-p">
                    <div class="card-header bg-white text-muted py-16
                    font-size-16 pl-20">
                        Recent Applications
                    </div>
                    <div class="card-body p-0">
                                   
                    </div>
                    <div class="card-footer py-16 bg-white">
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div class="card border-0 mat-elevation-z1 h-100-p">
                    <div class="card-header bg-white text-muted py-16
                    font-size-16 pl-20">
                        Recent Budgets
                    </div>
                    <div class="card-body p-0">

                    </div>
                    <div class="card-footer py-16 bg-white">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End of recent listings -->
</div>